img, button {
    border-style: solid;
    border-radius: 10px;
}

img {
    width: 150px;
    margin: 5px;
    border-color: #DDD;
    background-color: #D3D0CC;
}

p {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-size: 40px;
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 6px;
    color: #DDD;
    -webkit-text-stroke-width: 0.5pt;
    -webkit-text-stroke-color: #333;
}

p:hover {
    font-size: 45px;
    margin-bottom: 0px;

}

button {
    height: 30px;
    color: #DDD;
}
button, #slots {
    background-color: #333;
    border-color: #A22;
}

div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.controls button {
    margin: 7px;
    width: 100px;
}

#spin-button {
    margin-top: 10px;
    margin-bottom: 7px;
    width: 328px;
}

#slots {
    margin-top: 10px;
    border-style: solid;
    border-radius: 10px;
    padding: 50px;
    max-width: 500px;
}

#bet, #money {
    display: block;
}
